experiment:
  name: alg-swts
  seed: 42
  device: cpu
  server_device: cpu
  backend: gloo
  stateful: false
dataset:
  path: ./data
  name: MNIST
  backend: auto
  download: true
split:
  type: pathological
  infer_num_clients: false
  configs:
    min_classes: 2
model:
  path: ./models
  name: LeNet
  backend: local
train:
  num_rounds: 500
  num_clients: 10
  num_sampled_clients: 10
  update_base: epoch
  local_epochs: 1
  batch_size: 64
  shuffle: true
  eval_batch_size: 256
algorithm:
  algorithm: swts
  mix_coefs: sample_ratio
  optimize_memory: true
  aggregator: FedAvgAggregator
  scheduler: SwtsScheduler
  trainer: VanillaTrainer
  aggregator_kwargs:
    client_weights_mode: sample_ratio
  scheduler_kwargs:
    action_space: [1, 2, 3, 4, 5]
    window_size: 10
    likelihood_variance: 1.0
    prior_variance: 1.0
    seed: 42
  trainer_kwargs: {}
optimization:
  optimizer: SGD
  criterion: CrossEntropyLoss
  lr: 0.01
  clip_grad_norm: 0.0
  accum_grad: 0
  configs:
    weight_decay: 0.0
    momentum: 0.0
eval:
  every: 1
  metrics:
  - acc1
  do_pre_evaluation: true
  do_post_evaluation: true
  show_eval_progress: true
  enable_global_eval: true
  enable_federated_eval: true
  configs:
    scheme: dataset
    dataset_ratio:
    - 80
    - 10
    - 10
    client_ratio: 0.0
    client_counts: 0
logging:
  path: ./logs
  name: genfl_adaptive_local_steps
  backend: file
  type: server_only
