experiment:
  name: mnist_patho_swucb
  seed: 42
  device: cuda
  server_device: cuda
  backend: nccl
  stateful: false
dataset:
  path: ./data
  name: MNIST
  backend: auto
  download: true
split:
  type: pathological
  infer_num_clients: false
  configs:
    min_classes: 2
model:
  path: ./models
  name: LeNet
  backend: local
train:
  num_rounds: 500
  num_clients: 10
  num_sampled_clients: 10
  update_base: iter
  local_iters: 1
  batch_size: 32
  shuffle: true
  eval_batch_size: 256
algorithm:
  name: swucb
  mix_coefs: sample_ratio
  optimize_memory: true
  aggregator: FedAvgAggregator
  scheduler: SwucbScheduler
  trainer: VanillaTrainer
  aggregator_kwargs:
    client_weights_mode: sample_ratio
  scheduler_kwargs:
    action_space: [50, 200, 800, 32000]
    window_size: 10
    exploration_alpha: 0.1
  trainer_kwargs: {}
optimization:
  optimizer: SGD
  criterion: CrossEntropyLoss
  lr: 0.01
  lr_decay:
    enable: true
    type: exponential
    gamma: 0.995
  clip_grad_norm: 0.0
  accum_grad: 0
  configs:
    weight_decay: 0.0
    momentum: 0.0
eval:
  every: 10
  metrics:
  - acc1
  do_pre_evaluation: true
  do_post_evaluation: true
  show_eval_progress: true
  enable_global_eval: true
  enable_federated_eval: true
  configs:
    scheme: dataset
    dataset_ratio:
    - 80
    - 10
    - 10
logging:
  path: ./logs
  name: genfl_swucb
  backend: file
  type: both
  configs:
    track_gen_rewards: true